{% extends 'base_template.html'%}
{% load static %}
{% block content %}
    {% if not request.user.is_parent_or_teacher %}
        <div class="row">
            {% for notice in data %}
                <div class="card sol-sm-4" style="width: 18rem">
                    <img class="card-img-top" src="{% static 'images/notice-sign-clipart-1.jpg'%}" alt="Card image cap">
                    <div class = 'card-body'>
                        <b><h4>Notification:</h4>{{ notice.notice }}</b>
                        <h5><b>Class:{{ notice.class }}</b></h5>
                        <h5 class="card-title">
                            post for "{{notice.posted_for}}"
                        </h5>
                    </div>


                </div>
            {% endfor %}
        </div>
    {% else %}
                <h3>You are not Parent??You don't have right to access the details</h3>
    {% endif %}
{%  endblock %}